@import "abstracts/colors";
@import "abstracts/fonts";
@import "abstracts/variables";

@import "../../node_modules/bootstrap/scss/bootstrap";

$bootstrap-icons-font-src: url("../../assets/vendor/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), url("../../assets/vendor/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

@import "layout/header";
@import "layout/main";
@import "layout/footer";
@import "layout/text";

@import "component/wiki_entity";
@import "component/modal";

@import "component/weapon";
@import "component/perk";
@import "component/streak";
@import "component/map";
@import "component/campaign_mission";

@import "component/challenge/camouflage";
@import "component/challenge/campaign";
@import "component/challenge/multiplayer";

html {

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}