<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cod4 completionist{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {% endblock %}

        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% block javascripts %}

        {% endblock %}
    </head>
    <body class="container">
        {% include 'header.html.twig' %}
        <main>
            {% block body %}{% endblock %}
        </main>
        {% include 'footer.html.twig' %}
    </body>
</html>
